inputsource-eventbridge-integration/arh_input_source_eb_template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Parameters:
  TerraformS3Bucket:
    Type: String
    Description: Enter the S3 bucket name containing the Terraform state file
Resources:
  CustomEventBus:
    Type: AWS::Events::EventBus
    Properties:
      Name: !Sub ${AWS::StackName}-cloudFormationEventBus

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - events.amazonaws.com
              Action: 
                - "sts:AssumeRole"
      Policies:
        - PolicyName: AllowCloudwatchPutEvents
          PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action: 
                    - "events:PutEvents"
                  Resource:
                    - !GetAtt CustomEventBus.Arn

  EventBridgeToStepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - events.amazonaws.com
              Action: 
                - "sts:AssumeRole"
      Policies:
        - PolicyName: AllowStartStateMachine
          PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action: 
                    - "states:StartExecution"
                  Resource:
                    - !GetAtt ArhCfnStateMachine.Arn

  CFStateChangeRule:
    Type: AWS::Events::Rule
    Properties:
      EventBusName: !Ref CustomEventBus
      EventPattern:
        source:
          - aws.cloudformation
        detail-type:
          - CloudFormation Stack Status Change
        detail:
          status-details:
            status:
              - CREATE_COMPLETE
              - UPDATE_COMPLETE
              - DELETE_COMPLETE
      State: ENABLED
      Targets:
        - Id: 0
          Arn: !GetAtt ArhCfnStateMachine.Arn
          RoleArn: !GetAtt EventBridgeToStepFunctionsRole.Arn

  SendToCFBusRule:
    Type: AWS::Events::Rule
    Properties:
      EventBusName: default
      EventPattern:
        source:
          - aws.cloudformation
        detail-type:
          - CloudFormation Stack Status Change
        detail:
          status-details:
            status:
              - CREATE_COMPLETE
              - UPDATE_COMPLETE
              - DELETE_COMPLETE
      State: ENABLED
      Targets:
        - Id: 0
          Arn: !GetAtt CustomEventBus.Arn
          RoleArn: !GetAtt EventBridgeRole.Arn

  SendToTFBusRule:
    Type: AWS::Events::Rule
    Properties:
      EventBusName: default
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - Object Created
          - Object Deleted
        detail:
          bucket:
            name:
              - Ref: TerraformS3Bucket
          object:
            key:
              - suffix: .tfstate
      State: ENABLED
      Targets:
        - Id: 0
          Arn: !GetAtt CustomEventBus.Arn
          RoleArn: !GetAtt EventBridgeRole.Arn

  TFStateChangeRule:
    Type: AWS::Events::Rule
    Properties:
      EventBusName: !Ref CustomEventBus
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - Object Created
          - Object Deleted
        detail:
          bucket:
            name:
              - Ref: TerraformS3Bucket
          object:
            key:
              - suffix: .tfstate
      State: ENABLED
      Targets:
        - Id: 0
          Arn: !GetAtt ArhCfnStateMachine.Arn
          RoleArn: !GetAtt EventBridgeToStepFunctionsRole.Arn

  ResiliencyPolicyNonCritical:
    Type: 'AWS::ResilienceHub::ResiliencyPolicy'
    Properties:
      Policy:
        Software:
          RpoInSecs: 86400
          RtoInSecs: 172800
        Hardware:
          RpoInSecs: 86400
          RtoInSecs: 172800
        AZ:
          RpoInSecs: 86400
          RtoInSecs: 172800
      PolicyName: NonCritical
      Tier: NonCritical
  
  ResiliencyPolicyCoreServices:
    Type: 'AWS::ResilienceHub::ResiliencyPolicy'
    Properties:
      Policy:
        Software:
          RpoInSecs: 900
          RtoInSecs: 3600
        Hardware:
          RpoInSecs: 5
          RtoInSecs: 30
        AZ:
          RpoInSecs: 5
          RtoInSecs: 30
      PolicyName: CoreServices
      Tier: CoreServices
  
  ResiliencyPolicyImportant:
    Type: 'AWS::ResilienceHub::ResiliencyPolicy'
    Properties:
      Policy:
        Software:
          RpoInSecs: 14400
          RtoInSecs: 172800
        Hardware:
          RpoInSecs: 7200
          RtoInSecs: 172800
        AZ:
          RpoInSecs: 7200
          RtoInSecs: 172800
      PolicyName: Important
      Tier: Important
  
  ResiliencyPolicyCritical:
    Type: 'AWS::ResilienceHub::ResiliencyPolicy'
    Properties:
      Policy:
        Software:
          RpoInSecs: 3600
          RtoInSecs: 14400
        Hardware:
          RpoInSecs: 3600
          RtoInSecs: 3600
        AZ:
          RpoInSecs: 3600
          RtoInSecs: 3600
      PolicyName: Critical
      Tier: Critical
  
  ResiliencyPolicyMissionCritical:
    Type: 'AWS::ResilienceHub::ResiliencyPolicy'
    Properties:
      Policy:
        Software:
          RpoInSecs: 900
          RtoInSecs: 3600
        Hardware:
          RpoInSecs: 300
          RtoInSecs: 300
        AZ:
          RpoInSecs: 300
          RtoInSecs: 300
      PolicyName: MissionCritical
      Tier: MissionCritical

  ArhCfnStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - states.amazonaws.com
              Action: 
                - "sts:AssumeRole"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/ReadOnlyAccess
        - arn:aws:iam::aws:policy/AWSLambda_FullAccess
      Policies:
        - PolicyName: AllowResilienceHub
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: 
                  - "resiliencehub:CreateApp"
                  - "resiliencehub:DeleteApp"
                  - "resiliencehub:DeleteAppAssessment"
                  - "resiliencehub:ImportResourcesToDraftAppVersion"
                  - "resiliencehub:PublishAppVersion"
                  - "resiliencehub:StartAppAssessment"
                  - "resiliencehub:TagResource"
                  - "resiliencehub:UpdateApp"
                  - "resiliencehub:DeleteAppInputSource"
                  - "resiliencehub:ListAppInputSources"
                Resource:
                  - !Sub "arn:${AWS::Partition}:resiliencehub:${AWS::Region}:${AWS::AccountId}:*"

  ArhCfnStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties: 
      Definition:
        Comment: >-
          Create, update, or delete Resilience Hub applications in response to
          CloudFormation events
        StartAt: ProcessEventData
        States:
          Check Assessment Status:
            Choices:
              - Next: Create/Update Successful
                StringMatches: Success
                Variable: $.Assessment.AssessmentStatus
            Default: Wait for Assessment
            Type: Choice
          Check Import Status:
            Choices:
              - Next: PublishAppVersion
                StringMatches: Success
                Variable: $.Import.Status
            Default: Wait for Import
            OutputPath: $.Apps.App
            Type: Choice
          Check Policy Tag:
            Choices:
              - IsPresent: true
                Next: ListApps
                Variable: $.ForEachTag.PolicyArn[0]
            Default: Create/Update Successful
            Type: Choice
          Create, Update, Delete:
            Choices:
              - Comment: CREATE or UPDATE COMPLETED
                Next: ForEach Tag
                Or:
                  - StringEquals: UPDATE_COMPLETE
                    Variable: $.ArhPayload.SourceEventReceived
                  - StringEquals: CREATE_COMPLETE
                    Variable: $.ArhPayload.SourceEventReceived
              - Comment: DELETE_COMPLETE
                Next: ListApps (Delete)
                StringEquals: DELETE_COMPLETE
                Variable: $.ArhPayload.SourceEventReceived
            Default: Fail
            Type: Choice
          Create/Update Successful:
            Type: Succeed
          CreateApp:
            Next: Update Tags
            Parameters:
              Description: DO NOT DELETE -- This application is managed by CloudFormation
              EventSubscriptions.$: $.ForEachTag.Notify
              Name.$: $.ArhPayload.ArhApplicationName
              PolicyArn.$: $.ForEachTag.PolicyArn[0].PolicyArn
            Resource: arn:aws:states:::aws-sdk:resiliencehub:createApp
            ResultPath: $.Apps
            Type: Task
          Delete App Input Source:
            Choices:
              - Next: Delete App Input Source (CF)
                StringMatches: aws.cloudformation
                Variable: $.ArhPayload.ArhAppInputSourceType
              - Next: Delete App Input Source (TF)
                StringMatches: aws.s3
                Variable: $.ArhPayload.ArhAppInputSourceType
            Type: Choice
          Delete App Input Source (CF):
            Catch:
              - ErrorEquals:
                  - Resiliencehub.ResourceNotFoundException
                Next: List App Input Sources
                ResultPath: null
            Next: List App Input Sources
            Parameters:
              AppArn.$: $.Apps.AppSummaries[0].AppArn
              SourceArn.$: $.ArhPayload.ArhAppInputSource
            Resource: arn:aws:states:::aws-sdk:resiliencehub:deleteAppInputSource
            ResultPath: $.DeletedApp
            Type: Task
          Delete App Input Source (TF):
            Catch:
              - ErrorEquals:
                  - Resiliencehub.ResourceNotFoundException
                Next: List App Input Sources
                ResultPath: null
            Next: List App Input Sources
            Parameters:
              AppArn.$: $.Apps.AppSummaries[0].AppArn
              TerraformSource.$: >-
                States.StringToJson(States.Format('\{"S3StateFileUrl":"{}"\}',$.ArhPayload.ArhAppInputSource))
            Resource: arn:aws:states:::aws-sdk:resiliencehub:deleteAppInputSource
            ResultPath: $.DeletedApp
            Type: Task
          Delete Successful:
            Type: Succeed
          DeleteApp:
            Next: Delete Successful
            Parameters:
              AppArn.$: $.AppArn
            Resource: arn:aws:states:::aws-sdk:resiliencehub:deleteApp
            Type: Task
          DescribeAppAssessment:
            Next: Check Assessment Status
            Parameters:
              AssessmentArn.$: $.Assessment.AssessmentArn
            Resource: arn:aws:states:::aws-sdk:resiliencehub:describeAppAssessment
            Type: Task
          DescribeDraftAppVersionResourcesImportStatus:
            Next: Check Import Status
            Parameters:
              AppArn.$: $.Apps.App.AppArn
            Resource: >-
              arn:aws:states:::aws-sdk:resiliencehub:describeDraftAppVersionResourcesImportStatus
            ResultPath: $.Import
            Type: Task
          Fail:
            Type: Fail
          ForEach Assessment:
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: DeleteAppAssessment
              States:
                DeleteAppAssessment:
                  End: true
                  Parameters:
                    AssessmentArn.$: $.AssessmentArn
                  Resource: arn:aws:states:::aws-sdk:resiliencehub:deleteAppAssessment
                  ResultPath: null
                  Retry:
                    - BackoffRate: 2
                      ErrorEquals:
                        - Resiliencehub.ResiliencehubException
                      IntervalSeconds: 10
                      MaxAttempts: 3
                  Type: Task
            ItemsPath: $.result.AssessmentSummaries
            Next: DeleteApp
            ResultPath: null
            Type: Map
          ForEach Tag:
            ItemProcessor:
              ProcessorConfig:
                Mode: INLINE
              StartAt: Check for 'app_criticality'
              States:
                Check for 'app_criticality':
                  Choices:
                    - Next: ListResiliencyPolicies
                      StringMatches: app_criticality
                      Variable: $.Key
                    - Next: Format Notification Types
                      StringMatches: app_owner
                      Variable: $.Key
                  Default: Pass
                  Type: Choice
                Format Notification Types:
                  Branches:
                    - StartAt: Type 1
                      States:
                        Type 1:
                          End: true
                          Parameters:
                            EventType: DriftDetected
                            Name: DriftDetected
                            SnsTopicArn.$: $.Value
                          Type: Pass
                    - StartAt: Type 2
                      States:
                        Type 2:
                          End: true
                          Parameters:
                            EventType: ScheduledAssessmentFailure
                            Name: ScheduledAssessmentFailure
                            SnsTopicArn.$: $.Value
                          Type: Pass
                  End: true
                  Type: Parallel
                ListResiliencyPolicies:
                  End: true
                  Parameters:
                    PolicyName.$: $.Value
                  Resource: arn:aws:states:::aws-sdk:resiliencehub:listResiliencyPolicies
                  ResultSelector:
                    PolicyArn.$: $.ResiliencyPolicies[0].PolicyArn
                  Type: Task
                Pass:
                  End: true
                  Type: Pass
            ItemsPath: $.ArhPayload.Tags
            Next: Check Policy Tag
            ResultPath: $.ForEachTag
            ResultSelector:
              ArhAppName.$: $..[?(@.ArhAppName)]
              Notify.$: $..[?(@.EventType)]
              PolicyArn.$: $..[?(@.PolicyArn)]
            Type: Map
          If App Found (Delete):
            Choices:
              - IsPresent: true
                Next: Delete App Input Source
                Variable: $.Apps.AppSummaries[0]
            Default: Delete Successful
            Type: Choice
          If Assessment(s) Found:
            Choices:
              - IsPresent: true
                Next: ForEach Assessment
                Variable: $.result.AssessmentSummaries[0]
            Default: DeleteApp
            Type: Choice
          ImportResourcesToDraftAppVersion:
            Choices:
              - Next: ImportResourcesToDraftAppVersion (CF)
                StringMatches: aws.cloudformation
                Variable: $.ArhPayload.ArhAppInputSourceType
              - Next: ImportResourcesToDraftAppVersion (TF)
                StringMatches: aws.s3
                Variable: $.ArhPayload.ArhAppInputSourceType
            Type: Choice
          ImportResourcesToDraftAppVersion (CF):
            Next: Wait for Import
            Parameters:
              AppArn.$: $.Apps.App.AppArn
              SourceArns.$: States.Array($.ArhPayload.ArhAppInputSource)
            Resource: arn:aws:states:::aws-sdk:resiliencehub:importResourcesToDraftAppVersion
            ResultPath: $.Import
            Type: Task
          ImportResourcesToDraftAppVersion (TF):
            Next: Wait for Import
            Parameters:
              AppArn.$: $.Apps.App.AppArn
              TerraformSources.$: >-
                States.Array(States.StringToJson(States.Format('\{"S3StateFileUrl":"{}"\}',$.ArhPayload.ArhAppInputSource)))
            Resource: arn:aws:states:::aws-sdk:resiliencehub:importResourcesToDraftAppVersion
            ResultPath: $.Import
            Type: Task
          Input Sources Found:
            Choices:
              - IsPresent: true
                Next: PublishAppVersion
                Variable: $.App.Sources.AppInputSources[0].ImportType
            Default: ListAppAssessments
            OutputPath: $.Apps.AppSummaries[0]
            Type: Choice
          List App Input Sources:
            Next: Input Sources Found
            Parameters:
              AppArn.$: $.Apps.AppSummaries[0].AppArn
              AppVersion: draft
            Resource: arn:aws:states:::aws-sdk:resiliencehub:listAppInputSources
            ResultPath: $.App.Sources
            Type: Task
          ListAppAssessments:
            Next: If Assessment(s) Found
            Parameters:
              AppArn.$: $.AppArn
            Resource: arn:aws:states:::aws-sdk:resiliencehub:listAppAssessments
            ResultPath: $.result
            Type: Task
          ListApps:
            Next: UPDATE/CREATE
            Parameters:
              Name.$: $.ArhPayload.ArhApplicationName
            Resource: arn:aws:states:::aws-sdk:resiliencehub:listApps
            ResultPath: $.Apps
            Type: Task
          ListApps (Delete):
            Next: If App Found (Delete)
            Parameters:
              Name.$: $.ArhPayload.ArhApplicationName
            Resource: arn:aws:states:::aws-sdk:resiliencehub:listApps
            ResultPath: $.Apps
            Type: Task
          ProcessEventData:
            Next: Create, Update, Delete
            Parameters:
              FunctionName: !Sub ${ProcessEventDataFunction.Arn}:$LATEST
              Payload.$: $
            Resource: arn:aws:states:::lambda:invoke
            ResultSelector:
              ArhPayload.$: $.Payload
            Retry:
              - BackoffRate: 2
                ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
            Type: Task
          PublishAppVersion:
            Next: StartAppAssessment
            Parameters:
              AppArn.$: $.AppArn
            Resource: arn:aws:states:::aws-sdk:resiliencehub:publishAppVersion
            ResultPath: null
            Type: Task
          StartAppAssessment:
            Next: Wait for Assessment
            Parameters:
              AppArn.$: $.AppArn
              AppVersion: release
              AssessmentName.$: States.Format('Assessment-report-{}', States.UUID())
            Resource: arn:aws:states:::aws-sdk:resiliencehub:startAppAssessment
            Type: Task
          UPDATE/CREATE:
            Choices:
              - IsPresent: true
                Next: UpdateApp
                Variable: $.Apps.AppSummaries[0]
            Default: CreateApp
            Type: Choice
          Update Tags:
            Next: ImportResourcesToDraftAppVersion
            Parameters:
              FunctionName: !Sub ${UpdateTagsFunction.Arn}:$LATEST
              Payload.$: $
            Resource: arn:aws:states:::lambda:invoke
            ResultPath: null
            Retry:
              - BackoffRate: 2
                ErrorEquals:
                  - Lambda.ServiceException
                  - Lambda.AWSLambdaException
                  - Lambda.SdkClientException
                  - Lambda.TooManyRequestsException
                IntervalSeconds: 1
                MaxAttempts: 3
            Type: Task
          UpdateApp:
            Next: Update Tags
            Parameters:
              AppArn.$: $.Apps.AppSummaries[0].AppArn
              EventSubscriptions.$: $.ForEachTag.Notify
              PolicyArn.$: $.ForEachTag.PolicyArn[0].PolicyArn
            Resource: arn:aws:states:::aws-sdk:resiliencehub:updateApp
            ResultPath: $.Apps
            Type: Task
          Wait for Assessment:
            Next: DescribeAppAssessment
            Seconds: 5
            Type: Wait
          Wait for Import:
            Next: DescribeDraftAppVersionResourcesImportStatus
            Seconds: 5
            Type: Wait
        TimeoutSeconds: 120
      Role: !GetAtt ArhCfnStateMachineRole.Arn

  ProcessEventDataFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: 
                - "sts:AssumeRole"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AllowDescribeStacks
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: 
                  - "cloudformation:DescribeStacks"
                Resource:
                  - !Sub "arn:${AWS::Partition}:cloudformation:${AWS::Region}:${AWS::AccountId}:*"
        - PolicyName: AllowReadS3Tags
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: 
                  - "s3:ListBucket"
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${TerraformS3Bucket}"
              - Effect: Allow
                Action: 
                  - "s3:GetObjectTagging"
                Resource:
                  - !Sub "arn:${AWS::Partition}:s3:::${TerraformS3Bucket}/*"

  UpdateTagsFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: 
                - "sts:AssumeRole"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: AllowResilienceHubTagging
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: 
                  - "resiliencehub:ListTagsForResource"
                  - "resiliencehub:TagResource"
                  - "resiliencehub:UntagResource"
                Resource:
                  - !Sub "arn:${AWS::Partition}:resiliencehub:${AWS::Region}:${AWS::AccountId}:*"

  ProcessEventDataFunction:
    Type: AWS::Lambda::Function
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W89
            reason: "This function does not need to communicate with any resources within a customer VPC - only AWS services"
    Properties:
      Role: !GetAtt ProcessEventDataFunctionRole.Arn
      Environment:
        Variables:
          SNS_TOPIC: blank
      Code:
        ZipFile: |
          import json
          import boto3

          s3_client = boto3.client("s3")
          cfn_client = boto3.client("cloudformation")
          def lambda_handler(event, context):
            event_source = event["source"]
            arhAppName = ""
            resourcePath = ""
            arhAppOperation=""
            arh_app_tags = []
            if event_source == "aws.s3":
              try:
                  bucket_name = event["detail"]["bucket"]["name"]
                  object_key = event["detail"]["object"]["key"]
                  #resilience hub application name - unique
                  arhAppName = bucket_name + '-'+ object_key.replace("/","-").replace(".","-")
                  resourcePath = 's3://'+bucket_name+'/'+object_key
                  if event["detail"]["reason"] == 'DeleteObject':
                    arhAppOperation = 'DELETE_COMPLETE'
                  elif event["detail"]["reason"] == 'PutObject':
                    arhAppOperation = 'UPDATE_COMPLETE'

                  #get the tags for the state file
                  tags = s3_client.get_object_tagging(
                      Bucket = bucket_name,
                      Key = object_key
                  )
                  arh_app_tags = tags["TagSet"]
              except s3_client.exceptions.NoSuchKey as e:
                  print("The error is: ",e)
            elif event_source == "aws.cloudformation" :
              try:
                cfn_client.describe_stacks(StackName=event["detail"]["stack-id"])
                cfn_stack_id = event["detail"]["stack-id"] 
                cfn_client_response = cfn_client.describe_stacks(
                    StackName = cfn_stack_id
                )
                #resilience hub application name - unique
                if ("Stacks" in cfn_client_response and len(cfn_client_response["Stacks"]) > 0):
                  arhAppName = cfn_client_response["Stacks"][0]["StackName"]
                  arhAppOperation = cfn_client_response["Stacks"][0]["StackStatus"]
                  arh_app_tags = cfn_client_response["Stacks"][0]["Tags"]
                  resourcePath = cfn_client_response["Stacks"][0]["StackId"]
              except Exception as e:
                  print("The error is: ",e)
            try:
              arhAppNameTemp = [tag['Value'] for tag in arh_app_tags if tag['Key'] == 'app_name']
              if len(arhAppNameTemp) == 1:
                arhAppName = arhAppNameTemp[0]
            except KeyError as e:
              print("The error is: ",e)
            return {
                'statusCode': 200,
                'ArhApplicationName': arhAppName,
                'ArhAppInputSourceType': event_source,
                'ArhAppInputSource': resourcePath,
                'SourceEventReceived': arhAppOperation,
                'Tags': arh_app_tags
            }
      Handler: index.lambda_handler
      Runtime: python3.12
      ReservedConcurrentExecutions: 2
      TracingConfig:
        Mode: Active

  UpdateTagsFunction:
    Type: AWS::Lambda::Function
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: W89
            reason: "This function does not need to communicate with any resources within a customer VPC - only AWS services"
    Properties:
      Role: !GetAtt UpdateTagsFunctionRole.Arn
      Environment:
        Variables:
          SNS_TOPIC: blank
      Code:
        ZipFile: |
          import boto3
          import json

          arh = boto3.client("resiliencehub")

          def lambda_handler(event, context):
              # Get ARH app arn from event
              app_arn = event["Apps"]["App"]["AppArn"]
              # Get list of tags from the event, reformat into key:value
              tags = {}
              if "Tags" in event["ArhPayload"] and len(event["ArhPayload"]["Tags"]) > 0:
                for t in event["ArhPayload"]["Tags"]:
                    key = t["Key"]
                    value = t["Value"]
                    tags[key] = value
                try:
                    # Check for existing tags, remove if present
                    existing_tags = arh.list_tags_for_resource(resourceArn=app_arn)
                    if len(existing_tags['tags']) > 0:
                        arh.untag_resource(resourceArn=app_arn, tagKeys=list(existing_tags['tags'].keys()))
                    
                    # Don't update tags if none were listed in the event
                    if len(tags) > 0:
                        update_tags = arh.tag_resource(resourceArn=app_arn, tags=tags)
                except Exception as e:
                    print("The error is: ",e)
                
                return {
                    'statusCode': 200,
                    'body': "Current tags: {}".format(json.dumps(tags))
                }
      Handler: index.lambda_handler
      Runtime: python3.11
      ReservedConcurrentExecutions: 2
      TracingConfig:
        Mode: Active